.button {
    background-color: #3899fa; /* Green */
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 5px 3px;
    cursor: pointer;
    margin-top: 450px;
    margin-left: 80px;

    }
  body{
      text-align: center;
      background-color: gray;
  }
  
  .button1 {border-radius: 25px;
          
  
  }
  .button2 {border-radius: 25px;}