* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Header {
  width: 100%;
  height: 100vh;
  background-color: #d7e7f4;
}
.headContainer {
  width: 954px;
  min-height: 100vh;
  margin: auto;
  background-color: #fff;
}
.headContent {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
  margin: auto;
}
.homeAccount a {
  color: #007baf;
  font-weight: bold;
}
.homeAccount {
  margin-top: 20px;
  margin-right: 20px;
}

.homeAccount input {
  width: 190px;
  padding: 4px;
  border-radius: 2px;
  border: 2px solid #0af11a;
  margin-right: 7px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(12, 245, 237);
}
.homeLogo img {
  width: 355px;
  margin-top: 7px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
form img {
  height: 20px;
  border-radius: 2px;
}
